<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.yazuo.erp.system.dao.SysProblemCommentsDao">
	<resultMap id="SysProblemComments" type="com.yazuo.erp.system.vo.SysProblemCommentsVO">
    	<id property="id" column="id"/>
    	<result property="problemId" column="problem_id"/>
    	<result property="description" column="description"/>
    	<result property="solveredBy" column="solvered_by"/>
    	<result property="solvingTime" column="solving_time"/>
    	<result property="remark" column="remark"/>
    	<result property="insertBy" column="insert_by"/>
    	<result property="insertTime" column="insert_time"/>
	</resultMap>
	
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="sysproblemcommentsColumns">
	    <![CDATA[
		id,problem_id,description,solvered_by,solving_time,remark,insert_by,insert_time
	    ]]>
	</sql>

	<insert id="saveSysProblemComments" useGeneratedKeys="true" keyProperty="id" >
	 <!--不允许为空的字段： problem_id,insert_by,insert_time,--> 
        INSERT INTO sys.sys_problem_comments (
        	 <if test="problemId!=null ">problem_id,</if>
        	 <if test="description!=null and description!=''">description,</if>
        	 <if test="solveredBy!=null ">solvered_by,</if>
        	 <if test="solvingTime!=null ">solving_time,</if>
        	 <if test="remark!=null and remark!=''">remark,</if>
        	 <if test="insertBy!=null ">insert_by,</if>
        	 <if test="insertTime!=null ">insert_time</if>
        ) VALUES (
       	    <if test="problemId!=null ">#{problemId},</if>
       	    <if test="description!=null and description!=''">#{description},</if>
       	    <if test="solveredBy!=null ">#{solveredBy},</if>
       	    <if test="solvingTime!=null ">#{solvingTime},</if>
       	    <if test="remark!=null and remark!=''">#{remark},</if>
       	    <if test="insertBy!=null ">#{insertBy},</if>
       	    <if test="insertTime!=null ">now()</if>
        )
	</insert>
	
	<insert id="batchInsertSysProblemCommentss" parameterType="map">
	 <!--不允许为空的字段： problem_id,insert_by,insert_time,--> 
        INSERT INTO sys.sys_problem_comments (
        	 <if test="problemId!=null ">problem_id,</if>
        	 <if test="description!=null and description!=''">description,</if>
        	 <if test="solveredBy!=null ">solvered_by,</if>
        	 <if test="solvingTime!=null ">solving_time,</if>
        	 <if test="remark!=null and remark!=''">remark,</if>
        	 <if test="insertBy!=null ">insert_by,</if>
        	 <if test="insertTime!=null ">insert_time</if>
        ) VALUES 
            <foreach collection="list" item="t" separator=",">
           (
          <if test="problemId!=null ">#{t.problemId},</if>
          <if test="description!=null and description!=''">#{t.description},</if>
          <if test="solveredBy!=null ">#{t.solveredBy},</if>
          <if test="solvingTime!=null ">#{t.solvingTime},</if>
          <if test="remark!=null and remark!=''">#{t.remark},</if>
          <if test="insertBy!=null ">#{t.insertBy},</if>
          <if test="insertTime!=null ">now()</if>
         )
        </foreach>
	</insert>
	
	<update id="updateSysProblemComments">
        UPDATE sys.sys_problem_comments 
 		  <set>
	        <if test="problemId!=null ">problem_id = #{problemId} ,</if>
	        <if test="description!=null and description!=''">description = #{description} ,</if>
	        <if test="solveredBy!=null ">solvered_by = #{solveredBy} ,</if>
	        <if test="solvingTime!=null ">solving_time = #{solvingTime} ,</if>
	        <if test="remark!=null and remark!=''">remark = #{remark} ,</if>
	        <if test="insertBy!=null ">insert_by = #{insertBy} ,</if>
	        <if test="insertTime!=null ">insert_time = #{insertTime} </if>
	      </set>  
        WHERE 
	        id = #{id} 
	</update>
	
	<update id="batchUpdateSysProblemCommentssToDiffVals" parameterType="map">
		<foreach  collection="list" item="t" index="index" open="" close="" separator=";">
        UPDATE sys.sys_problem_comments 
 		  <set>
	        <if test="problemId!=null ">problem_id = #{t.problemId} ,</if>
	        <if test="description!=null and description!=''">description = #{t.description} ,</if>
	        <if test="solveredBy!=null ">solvered_by = #{t.solveredBy} ,</if>
	        <if test="solvingTime!=null ">solving_time = #{t.solvingTime} ,</if>
	        <if test="remark!=null and remark!=''">remark = #{t.remark} ,</if>
	        <if test="insertBy!=null ">insert_by = #{t.insertBy} ,</if>
	        <if test="insertTime!=null ">insert_time = #{t.insertTime} </if>
	      </set>  
        WHERE 
	        id = #{t.id} 
	    </foreach>       
	</update>
	
	<!-- 默认主键为id，不支持组合主键的情况 -->
	<update id="batchUpdateSysProblemCommentssToSameVals" parameterType="map">
        UPDATE sys.sys_problem_comments 
 		  <set>
	        <if test="problemId!=null ">problem_id = #{problemId} ,</if>
	        <if test="description!=null and description!=''">description = #{description} ,</if>
	        <if test="solveredBy!=null ">solvered_by = #{solveredBy} ,</if>
	        <if test="solvingTime!=null ">solving_time = #{solvingTime} ,</if>
	        <if test="remark!=null and remark!=''">remark = #{remark} ,</if>
	        <if test="insertBy!=null ">insert_by = #{insertBy} ,</if>
	        <if test="insertTime!=null ">insert_time = #{insertTime} </if>
	      </set>  
        WHERE id IN <foreach collection="list" item="id" open="(" close=")" separator=",">#{id}</foreach>       
	</update>
	
    <delete id="deleteSysProblemCommentsById">
    <![CDATA[
        DELETE FROM sys.sys_problem_comments WHERE
        id = #{id} 
    ]]>
    </delete>
    
    <delete id="batchDeleteSysProblemCommentsByIds" parameterType="list">
        DELETE FROM sys.sys_problem_comments WHERE id IN
        <foreach collection="list" item="id" open="(" close=")" separator=",">#{id}</foreach>   
    </delete>
    
    <select id="getSysProblemCommentsById" resultMap="SysProblemComments">
		SELECT <include refid="sysproblemcommentsColumns" />
		    FROM sys.sys_problem_comments 
	        WHERE id = #{id}     
	</select>

	<select id="getSysProblemCommentss" resultMap="SysProblemComments">
		SELECT <include refid="sysproblemcommentsColumns" />
		    FROM sys.sys_problem_comments  
	    <include refid="sysproblemcomments_findPage_where" />
	    <if test="sortColumns!=null">
			ORDER BY ${sortColumns}
		</if>
	</select>
	
	<select id="getSysProblemCommentssMap" resultType="map">
		SELECT <include refid="sysproblemcommentsColumns" />
	    <![CDATA[
		    FROM sys.sys_problem_comments  
	    ]]>
	    <include refid="sysproblemcomments_findPage_where" />
	    <if test="sortColumns!=null">
			ORDER BY ${sortColumns}
		</if>
	</select>
	
	<sql id="sysproblemcomments_findPage_where">
		<where>	      				
	       <if test="id!=null ">AND id = #{id}</if>
	       <if test="problemId!=null ">AND problem_id = #{problemId}</if>
	       <if test="description!=null and description!=''">AND description = #{description}</if>
	       <if test="solveredBy!=null ">AND solvered_by = #{solveredBy}</if>
		   <if test="solvingTime!=null ">AND solving_time >= #{solvingTime}</if>
		   <if test="solvingTime!=null ">AND solving_time &lt;= #{solvingTime}</if>
	       <if test="remark!=null and remark!=''">AND remark = #{remark}</if>
	       <if test="insertBy!=null ">AND insert_by = #{insertBy}</if>
		   <if test="insertTime!=null ">AND insert_time >= #{insertTime}</if>
		   <if test="insertTime!=null ">AND insert_time &lt;= #{insertTime}</if>
		</where>
	</sql>
		
    <select id="getSysProblemCommentsCount" resultType="long">
        SELECT count(*) FROM sys.sys_problem_comments 
		<include refid="sysproblemcomments_findPage_where"/>    
    </select>
    
</mapper>
