<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.yazuo.erp.fes.dao.FesOnlineProgramDao">
	<resultMap id="FesOnlineProgram" type="com.yazuo.erp.fes.vo.FesOnlineProgramVO">
    	<id property="id" column="id"/>
    	<result property="merchantId" column="merchant_id"/>
    	<result property="beginTime" column="begin_time"/>
    	<result property="planOnlineTime" column="plan_online_time"/>
    	<result property="onlineTime" column="online_time"/>
    	<result property="onlineProgramStatus" column="online_program_status"/>
    	<result property="remark" column="remark"/>
    	<result property="insertBy" column="insert_by"/>
    	<result property="insertTime" column="insert_time"/>
    	<result property="updateBy" column="update_by"/>
    	<result property="updateTime" column="update_time"/>
    	<result property="contractId" column="contract_id"/>
	</resultMap>
	
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="fesonlineprogramColumns">
	    <![CDATA[
		id,merchant_id,begin_time,plan_online_time,online_time,online_program_status,remark,insert_by,insert_time,update_by,update_time,contract_id
	    ]]>
	</sql>

	<insert id="saveFesOnlineProgram" useGeneratedKeys="true" keyProperty="id" >
	 <!--不允许为空的字段： merchant_id,begin_time,plan_online_time,online_program_status,insert_by,insert_time,update_by,update_time,--> 
        INSERT INTO fes.fes_online_program (
        	 <if test="merchantId!=null ">merchant_id,</if>
        	 <if test="beginTime!=null ">begin_time,</if>
        	 <if test="planOnlineTime!=null ">plan_online_time,</if>
        	 <if test="onlineTime!=null ">online_time,</if>
        	 <if test="onlineProgramStatus!=null and onlineProgramStatus!=''">online_program_status,</if>
        	 <if test="remark!=null and remark!=''">remark,</if>
        	 <if test="insertBy!=null ">insert_by,</if>
        	 <if test="insertTime!=null ">insert_time,</if>
        	 <if test="updateBy!=null ">update_by,</if>
        	 <if test="updateTime!=null ">update_time</if>
        ) VALUES (
       	    <if test="merchantId!=null ">#{merchantId},</if>
       	    <if test="beginTime!=null ">now(),</if> <!-- 手动更改 -->
       	    <if test="planOnlineTime!=null ">#{planOnlineTime},</if>
       	    <if test="onlineTime!=null ">#{onlineTime},</if>
       	    <if test="onlineProgramStatus!=null and onlineProgramStatus!=''">#{onlineProgramStatus},</if>
       	    <if test="remark!=null and remark!=''">#{remark},</if>
       	    <if test="insertBy!=null ">#{insertBy},</if>
       	    <if test="insertTime!=null ">now(),</if>
       	    <if test="updateBy!=null ">#{updateBy},</if>
       	    <if test="updateTime!=null ">now()</if>
        )
	</insert>
	
	<insert id="batchInsertFesOnlinePrograms" parameterType="map">
	 <!--不允许为空的字段： merchant_id,begin_time,plan_online_time,online_program_status,insert_by,insert_time,update_by,update_time,--> 
        INSERT INTO fes.fes_online_program (
        	 <if test="merchantId!=null ">merchant_id,</if>
        	 <if test="beginTime!=null ">begin_time,</if>
        	 <if test="planOnlineTime!=null ">plan_online_time,</if>
        	 <if test="onlineTime!=null ">online_time,</if>
        	 <if test="onlineProgramStatus!=null and onlineProgramStatus!=''">online_program_status,</if>
        	 <if test="remark!=null and remark!=''">remark,</if>
        	 <if test="insertBy!=null ">insert_by,</if>
        	 <if test="insertTime!=null ">insert_time,</if>
        	 <if test="updateBy!=null ">update_by,</if>
        	 <if test="contractId!=null ">contract_id,</if>
        	 <if test="updateTime!=null ">update_time</if>
        ) VALUES 
            <foreach collection="list" item="t" separator=",">
           (
          <if test="merchantId!=null ">#{t.merchantId},</if>
          <if test="beginTime!=null ">now(),</if> <!-- 手动更改 -->
          <if test="planOnlineTime!=null ">#{t.planOnlineTime},</if>
          <if test="onlineTime!=null ">#{t.onlineTime},</if>
          <if test="onlineProgramStatus!=null and onlineProgramStatus!=''">#{t.onlineProgramStatus},</if>
          <if test="remark!=null and remark!=''">#{t.remark},</if>
          <if test="insertBy!=null ">#{t.insertBy},</if>
          <if test="insertTime!=null ">now(),</if>
          <if test="updateBy!=null ">#{t.updateBy},</if>
          <if test="contractId!=null ">#{t.contractId},</if>
          <if test="updateTime!=null ">now()</if>
         )
        </foreach>
	</insert>
	
	<update id="updateFesOnlineProgram">
        UPDATE fes.fes_online_program 
 		  <set>
	        <if test="merchantId!=null ">merchant_id = #{merchantId} ,</if>
	        <if test="beginTime!=null ">begin_time = #{beginTime} ,</if>
	        <if test="planOnlineTime!=null ">plan_online_time = #{planOnlineTime} ,</if>
	        <if test="onlineTime!=null">online_time = now() ,</if>
	        <if test="onlineProgramStatus!=null and onlineProgramStatus!=''">online_program_status = #{onlineProgramStatus} ,</if>
	        <if test="remark!=null and remark!=''">remark = #{remark} ,</if>
	        <if test="insertBy!=null ">insert_by = #{insertBy} ,</if>
	        <if test="insertTime!=null ">insert_time = #{insertTime} ,</if>
	        <if test="updateBy!=null ">update_by = #{updateBy} ,</if>
	        <if test="contractId!=null ">contract_id = #{contractId}, </if>
	        <if test="updateTime!=null ">update_time = now()</if>
	      </set>  
        WHERE 
	        id = #{id} 
	</update>
	
	<update id="batchUpdateFesOnlineProgramsToDiffVals" parameterType="map">
		<foreach  collection="list" item="t" index="index" open="" close="" separator=";">
        UPDATE fes.fes_online_program 
 		  <set>
	        <if test="merchantId!=null ">merchant_id = #{t.merchantId} ,</if>
	        <if test="beginTime!=null ">begin_time = #{t.beginTime} ,</if>
	        <if test="planOnlineTime!=null ">plan_online_time = #{t.planOnlineTime} ,</if>
	        <if test="onlineTime!=null ">online_time = #{t.onlineTime} ,</if>
	        <if test="onlineProgramStatus!=null and onlineProgramStatus!=''">online_program_status = #{t.onlineProgramStatus} ,</if>
	        <if test="remark!=null and remark!=''">remark = #{t.remark} ,</if>
	        <if test="insertBy!=null ">insert_by = #{t.insertBy} ,</if>
	        <if test="insertTime!=null ">insert_time = #{t.insertTime} ,</if>
	        <if test="updateBy!=null ">update_by = #{t.updateBy} ,</if>
	        <if test="updateTime!=null ">update_time = now() ,</if>
	        <if test="contractId!=null ">contract_id = #{t.contractId} </if>
	      </set>  
        WHERE 
	        id = #{t.id} 
	    </foreach>       
	</update>
	
	<!-- 默认主键为id，不支持组合主键的情况 -->
	<update id="batchUpdateFesOnlineProgramsToSameVals" parameterType="map">
        UPDATE fes.fes_online_program 
 		  <set>
	        <if test="merchantId!=null ">merchant_id = #{merchantId} ,</if>
	        <if test="beginTime!=null ">begin_time = #{beginTime} ,</if>
	        <if test="planOnlineTime!=null ">plan_online_time = #{planOnlineTime} ,</if>
	        <if test="onlineTime!=null ">online_time = #{onlineTime} ,</if>
	        <if test="onlineProgramStatus!=null and onlineProgramStatus!=''">online_program_status = #{onlineProgramStatus} ,</if>
	        <if test="remark!=null and remark!=''">remark = #{remark} ,</if>
	        <if test="insertBy!=null ">insert_by = #{insertBy} ,</if>
	        <if test="insertTime!=null ">insert_time = #{insertTime} ,</if>
	        <if test="updateBy!=null ">update_by = #{updateBy} ,</if>
	        <if test="updateTime!=null ">update_time = now() ,</if>
	        <if test="contractId!=null ">contract_id = #{contractId} </if>
	      </set>  
        WHERE id IN <foreach collection="list" item="id" open="(" close=")" separator=",">#{id}</foreach>       
	</update>
	
    <delete id="deleteFesOnlineProgramById">
    <![CDATA[
        DELETE FROM fes.fes_online_program WHERE
        id = #{id} 
    ]]>
    </delete>
    
    <delete id="batchDeleteFesOnlineProgramByIds" parameterType="list">
        DELETE FROM fes.fes_online_program WHERE id IN
        <foreach collection="list" item="id" open="(" close=")" separator=",">#{id}</foreach>   
    </delete>
    
    <select id="getFesOnlineProgramById" resultMap="FesOnlineProgram">
		SELECT <include refid="fesonlineprogramColumns" />
		    FROM fes.fes_online_program 
	        WHERE id = #{id}     
	</select>

	<select id="getFesOnlinePrograms" resultMap="FesOnlineProgram">
		SELECT <include refid="fesonlineprogramColumns" />
		    FROM fes.fes_online_program  
	    <include refid="fesonlineprogram_findPage_where" />
	    <if test="sortColumns!=null">
			ORDER BY ${sortColumns}
		</if>
	</select>
	
	<select id="getFesOnlineProgramsMap" resultType="map">
		SELECT <include refid="fesonlineprogramColumns" />
	    <![CDATA[
		    FROM fes.fes_online_program  
	    ]]>
	    <include refid="fesonlineprogram_findPage_where" />
	    <if test="sortColumns!=null">
			ORDER BY ${sortColumns}
		</if>
	</select>
	
	<sql id="fesonlineprogram_findPage_where">
		<where>	      				
	       <if test="id!=null ">AND id = #{id}</if>
	       <if test="merchantId!=null ">AND merchant_id = #{merchantId}</if>
		   <if test="beginTime!=null ">AND begin_time >= #{beginTime}</if>
		   <if test="beginTime!=null ">AND begin_time &lt;= #{beginTime}</if>
		   <if test="planOnlineTime!=null ">AND plan_online_time >= #{planOnlineTime}</if>
		   <if test="planOnlineTime!=null ">AND plan_online_time &lt;= #{planOnlineTime}</if>
		   <if test="onlineTime!=null ">AND online_time >= #{onlineTime}</if>
		   <if test="onlineTime!=null ">AND online_time &lt;= #{onlineTime}</if>
	       <if test="onlineProgramStatus!=null and onlineProgramStatus!=''">AND online_program_status = #{onlineProgramStatus}</if>
	       <if test="remark!=null and remark!=''">AND remark = #{remark}</if>
	       <if test="insertBy!=null ">AND insert_by = #{insertBy}</if>
		   <if test="insertTime!=null ">AND insert_time >= #{insertTime}</if>
		   <if test="insertTime!=null ">AND insert_time &lt;= #{insertTime}</if>
	       <if test="updateBy!=null ">AND update_by = #{updateBy}</if>
		   <if test="updateTime!=null ">AND update_time >= #{updateTime}</if>
		   <if test="updateTime!=null ">AND update_time &lt;= #{updateTime}</if>
	       <if test="contractId!=null ">AND contract_id = #{contractId}</if>
		</where>
	</sql>
		
    <select id="getFesOnlineProgramCount" resultType="long">
        SELECT count(*) FROM fes.fes_online_program 
		<include refid="fesonlineprogram_findPage_where"/>    
    </select>
    
</mapper>
