<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.yazuo.erp.fes.dao.FesRemarkDao">
	<resultMap id="FesRemark" type="com.yazuo.erp.fes.vo.FesRemarkVO">
    	<id property="id" column="id"/>
    	<result property="processId" column="process_id"/>
    	<result property="remark" column="remark"/>
    	<result property="insertBy" column="insert_by"/>
    	<result property="insertTime" column="insert_time"/>
    	<result property="updateBy" column="update_by"/>
    	<result property="updateTime" column="update_time"/>
	</resultMap>
	
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="fesremarkColumns">
	    <![CDATA[
		id,process_id,remark,insert_by,insert_time,update_by,update_time
	    ]]>
	</sql>

	<insert id="saveFesRemark" useGeneratedKeys="true" keyProperty="id" >
	 <!--不允许为空的字段： process_id,insert_by,insert_time,update_by,update_time,--> 
        INSERT INTO fes.fes_remark (
        	 <if test="processId!=null ">process_id,</if>
        	 <if test="remark!=null and remark!=''">remark,</if>
        	 <if test="insertBy!=null ">insert_by,</if>
        	 <if test="insertTime!=null ">insert_time,</if>
        	 <if test="updateBy!=null ">update_by,</if>
        	 <if test="updateTime!=null ">update_time</if>
        ) VALUES (
       	    <if test="processId!=null ">#{processId},</if>
       	    <if test="remark!=null and remark!=''">#{remark},</if>
       	    <if test="insertBy!=null ">#{insertBy},</if>
       	    <if test="insertTime!=null ">now(),</if>
       	    <if test="updateBy!=null ">#{updateBy},</if>
       	    <if test="updateTime!=null ">now()</if>
        )
	</insert>
	
	<insert id="batchInsertFesRemarks" parameterType="map">
	 <!--不允许为空的字段： process_id,insert_by,insert_time,update_by,update_time,--> 
        INSERT INTO fes.fes_remark (
        	 <if test="processId!=null ">process_id,</if>
        	 <if test="remark!=null and remark!=''">remark,</if>
        	 <if test="insertBy!=null ">insert_by,</if>
        	 <if test="insertTime!=null ">insert_time,</if>
        	 <if test="updateBy!=null ">update_by,</if>
        	 <if test="updateTime!=null ">update_time</if>
        ) VALUES 
            <foreach collection="list" item="t" separator=",">
           (
          <if test="processId!=null ">#{t.processId},</if>
          <if test="remark!=null and remark!=''">#{t.remark},</if>
          <if test="insertBy!=null ">#{t.insertBy},</if>
          <if test="insertTime!=null ">now(),</if>
          <if test="updateBy!=null ">#{t.updateBy},</if>
          <if test="updateTime!=null ">now()</if>
         )
        </foreach>
	</insert>
	
	<update id="updateFesRemark">
        UPDATE fes.fes_remark 
 		  <set>
	        <if test="processId!=null ">process_id = #{processId} ,</if>
	        <if test="remark!=null and remark!=''">remark = #{remark} ,</if>
	        <if test="insertBy!=null ">insert_by = #{insertBy} ,</if>
	        <if test="insertTime!=null ">insert_time = #{insertTime} ,</if>
	        <if test="updateBy!=null ">update_by = #{updateBy} ,</if>
	        <if test="updateTime!=null ">update_time = now() </if>
	      </set>  
        WHERE 
	        id = #{id} 
	</update>
	
	<update id="batchUpdateFesRemarksToDiffVals" parameterType="map">
		<foreach  collection="list" item="t" index="index" open="" close="" separator=";">
        UPDATE fes.fes_remark 
 		  <set>
	        <if test="processId!=null ">process_id = #{t.processId} ,</if>
	        <if test="remark!=null and remark!=''">remark = #{t.remark} ,</if>
	        <if test="insertBy!=null ">insert_by = #{t.insertBy} ,</if>
	        <if test="insertTime!=null ">insert_time = #{t.insertTime} ,</if>
	        <if test="updateBy!=null ">update_by = #{t.updateBy} ,</if>
	        <if test="updateTime!=null ">update_time = now() </if>
	      </set>  
        WHERE 
	        id = #{t.id} 
	    </foreach>       
	</update>
	
	<!-- 默认主键为id，不支持组合主键的情况 -->
	<update id="batchUpdateFesRemarksToSameVals" parameterType="map">
        UPDATE fes.fes_remark 
 		  <set>
	        <if test="processId!=null ">process_id = #{processId} ,</if>
	        <if test="remark!=null and remark!=''">remark = #{remark} ,</if>
	        <if test="insertBy!=null ">insert_by = #{insertBy} ,</if>
	        <if test="insertTime!=null ">insert_time = #{insertTime} ,</if>
	        <if test="updateBy!=null ">update_by = #{updateBy} ,</if>
	        <if test="updateTime!=null ">update_time = now() </if>
	      </set>  
        WHERE id IN <foreach collection="list" item="id" open="(" close=")" separator=",">#{id}</foreach>       
	</update>
	
    <delete id="deleteFesRemarkById">
    <![CDATA[
        DELETE FROM fes.fes_remark WHERE
        id = #{id} 
    ]]>
    </delete>
    
    <delete id="batchDeleteFesRemarkByIds" parameterType="list">
        DELETE FROM fes.fes_remark WHERE id IN
        <foreach collection="list" item="id" open="(" close=")" separator=",">#{id}</foreach>   
    </delete>
    
    <select id="getFesRemarkById" resultMap="FesRemark">
		SELECT <include refid="fesremarkColumns" />
		    FROM fes.fes_remark 
	        WHERE id = #{id}     
	</select>

	<select id="getFesRemarks" resultMap="FesRemark">
		SELECT <include refid="fesremarkColumns" />
		    FROM fes.fes_remark  
	    <include refid="fesremark_findPage_where" />
	    <if test="sortColumns!=null">
			ORDER BY ${sortColumns}
		</if>
	</select>
	
	<select id="getFesRemarksMap" resultType="map">
		SELECT <include refid="fesremarkColumns" />
	    <![CDATA[
		    FROM fes.fes_remark  
	    ]]>
	    <include refid="fesremark_findPage_where" />
	    <if test="sortColumns!=null">
			ORDER BY ${sortColumns}
		</if>
	</select>
	
	<sql id="fesremark_findPage_where">
		<where>	      				
	       <if test="id!=null ">AND id = #{id}</if>
	       <if test="processId!=null ">AND process_id = #{processId}</if>
	       <if test="remark!=null and remark!=''">AND remark = #{remark}</if>
	       <if test="insertBy!=null ">AND insert_by = #{insertBy}</if>
		   <if test="insertTime!=null ">AND insert_time >= #{insertTime}</if>
		   <if test="insertTime!=null ">AND insert_time &lt;= #{insertTime}</if>
	       <if test="updateBy!=null ">AND update_by = #{updateBy}</if>
		   <if test="updateTime!=null ">AND update_time >= #{updateTime}</if>
		   <if test="updateTime!=null ">AND update_time &lt;= #{updateTime}</if>
		</where>
	</sql>
		
    <select id="getFesRemarkCount" resultType="long">
        SELECT count(*) FROM fes.fes_remark 
		<include refid="fesremark_findPage_where"/>    
    </select>
    
</mapper>
