<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.yazuo.erp.fes.dao.FesStowageDao">
	<resultMap id="FesStowage" type="com.yazuo.erp.fes.vo.FesStowageVO">
    	<id property="id" column="id"/>
    	<result property="processId" column="process_id"/>
    	<result property="logisticsCompany" column="logistics_company"/>
    	<result property="logisticsNum" column="logistics_num"/>
    	<result property="contactId" column="contact_id"/>
    	<result property="isEnable" column="is_enable"/>
    	<result property="remark" column="remark"/>
    	<result property="insertBy" column="insert_by"/>
    	<result property="insertTime" column="insert_time"/>
    	<result property="updateBy" column="update_by"/>
    	<result property="updateTime" column="update_time"/>
    	<result property="recipient" column="recipient"/>
	</resultMap>
	
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="fesstowageColumns">
	    <![CDATA[
		id,process_id,logistics_company,logistics_num,contact_id,is_enable,remark,insert_by,insert_time,update_by,update_time,recipient
	    ]]>
	</sql>

	<insert id="saveFesStowage" useGeneratedKeys="true" keyProperty="id" >
	 <!--不允许为空的字段： process_id,is_enable,insert_by,insert_time,update_by,update_time,--> 
        INSERT INTO fes.fes_stowage (
        	 <if test="processId!=null ">process_id,</if>
        	 <if test="logisticsCompany!=null and logisticsCompany!=''">logistics_company,</if>
        	 <if test="logisticsNum!=null and logisticsNum!=''">logistics_num,</if>
        	 <if test="contactId!=null ">contact_id,</if>
        	 <if test="isEnable!=null and isEnable!=''">is_enable,</if>
        	 <if test="remark!=null and remark!=''">remark,</if>
        	 <if test="recipient!=null ">recipient,</if>
        	 <if test="insertBy!=null ">insert_by,</if>
        	 <if test="insertTime!=null ">insert_time,</if>
        	 <if test="updateBy!=null ">update_by,</if>
        	 <if test="updateTime!=null ">update_time</if>
        ) VALUES (
       	    <if test="processId!=null ">#{processId},</if>
       	    <if test="logisticsCompany!=null and logisticsCompany!=''">#{logisticsCompany},</if>
       	    <if test="logisticsNum!=null and logisticsNum!=''">#{logisticsNum},</if>
       	    <if test="contactId!=null ">#{contactId},</if>
       	    <if test="isEnable!=null and isEnable!=''">#{isEnable},</if>
       	    <if test="remark!=null and remark!=''">#{remark},</if>
       	    <if test="recipient!=null ">#{recipient},</if>
       	    <if test="insertBy!=null ">#{insertBy},</if>
       	    <if test="insertTime!=null ">now(),</if>
       	    <if test="updateBy!=null ">#{updateBy},</if>
       	    <if test="updateTime!=null ">now()</if>
        )
	</insert>
	
	<insert id="batchInsertFesStowages" parameterType="map">
	 <!--不允许为空的字段： process_id,is_enable,insert_by,insert_time,update_by,update_time,--> 
        INSERT INTO fes.fes_stowage (
        	 <if test="processId!=null ">process_id,</if>
        	 <if test="logisticsCompany!=null and logisticsCompany!=''">logistics_company,</if>
        	 <if test="logisticsNum!=null and logisticsNum!=''">logistics_num,</if>
        	 <if test="contactId!=null ">contact_id,</if>
        	 <if test="isEnable!=null and isEnable!=''">is_enable,</if>
        	 <if test="remark!=null and remark!=''">remark,</if>
        	 <if test="recipient!=null ">recipient,</if>
        	 <if test="insertBy!=null ">insert_by,</if>
        	 <if test="insertTime!=null ">insert_time,</if>
        	 <if test="updateBy!=null ">update_by,</if>
        	 <if test="updateTime!=null ">update_time</if>
        ) VALUES 
            <foreach collection="list" item="t" separator=",">
           (
          <if test="processId!=null ">#{t.processId},</if>
          <if test="logisticsCompany!=null and logisticsCompany!=''">#{t.logisticsCompany},</if>
          <if test="logisticsNum!=null and logisticsNum!=''">#{t.logisticsNum},</if>
          <if test="contactId!=null ">#{t.contactId},</if>
          <if test="isEnable!=null and isEnable!=''">#{t.isEnable},</if>
          <if test="remark!=null and remark!=''">#{t.remark},</if>
          <if test="recipient!=null ">#{t.recipient},</if>
          <if test="insertBy!=null ">#{t.insertBy},</if>
          <if test="insertTime!=null ">now(),</if>
          <if test="updateBy!=null ">#{t.updateBy},</if>
          <if test="updateTime!=null ">now()</if>
         )
        </foreach>
	</insert>
	
	<update id="updateFesStowage">
        UPDATE fes.fes_stowage 
 		  <set>
	        <if test="processId!=null ">process_id = #{processId} ,</if>
	        <if test="logisticsCompany!=null and logisticsCompany!=''">logistics_company = #{logisticsCompany} ,</if>
	        <if test="logisticsNum!=null and logisticsNum!=''">logistics_num = #{logisticsNum} ,</if>
	        <if test="contactId!=null ">contact_id = #{contactId} ,</if>
	        <if test="isEnable!=null and isEnable!=''">is_enable = #{isEnable} ,</if>
	        <if test="remark!=null and remark!=''">remark = #{remark} ,</if>
	        <if test="recipient!=null ">recipient = #{recipient}, </if>
	        <if test="insertBy!=null ">insert_by = #{insertBy} ,</if>
	        <if test="insertTime!=null ">insert_time = #{insertTime} ,</if>
	        <if test="updateBy!=null ">update_by = #{updateBy} ,</if>
	        <if test="updateTime!=null ">update_time = now() </if>
	      </set>  
        WHERE 
	        id = #{id} 
	</update>
	
	<update id="batchUpdateFesStowagesToDiffVals" parameterType="map">
		<foreach  collection="list" item="t" index="index" open="" close="" separator=";">
        UPDATE fes.fes_stowage 
 		  <set>
	        <if test="processId!=null ">process_id = #{t.processId} ,</if>
	        <if test="logisticsCompany!=null and logisticsCompany!=''">logistics_company = #{t.logisticsCompany} ,</if>
	        <if test="logisticsNum!=null and logisticsNum!=''">logistics_num = #{t.logisticsNum} ,</if>
	        <if test="contactId!=null ">contact_id = #{t.contactId} ,</if>
	        <if test="isEnable!=null and isEnable!=''">is_enable = #{t.isEnable} ,</if>
	        <if test="remark!=null and remark!=''">remark = #{t.remark} ,</if>
	        <if test="recipient!=null ">recipient = #{t.recipient}, </if>
	        <if test="insertBy!=null ">insert_by = #{t.insertBy} ,</if>
	        <if test="insertTime!=null ">insert_time = #{t.insertTime} ,</if>
	        <if test="updateBy!=null ">update_by = #{t.updateBy} ,</if>
	        <if test="updateTime!=null ">update_time = now() </if>
	      </set>  
        WHERE 
	        id = #{t.id} 
	    </foreach>       
	</update>
	
	<!-- 默认主键为id，不支持组合主键的情况 -->
	<update id="batchUpdateFesStowagesToSameVals" parameterType="map">
        UPDATE fes.fes_stowage 
 		  <set>
	        <if test="processId!=null ">process_id = #{processId} ,</if>
	        <if test="logisticsCompany!=null and logisticsCompany!=''">logistics_company = #{logisticsCompany} ,</if>
	        <if test="logisticsNum!=null and logisticsNum!=''">logistics_num = #{logisticsNum} ,</if>
	        <if test="contactId!=null ">contact_id = #{contactId} ,</if>
	        <if test="isEnable!=null and isEnable!=''">is_enable = #{isEnable} ,</if>
	        <if test="remark!=null and remark!=''">remark = #{remark} ,</if>
	        <if test="recipient!=null ">recipient = #{recipient}, </if>
	        <if test="insertBy!=null ">insert_by = #{insertBy} ,</if>
	        <if test="insertTime!=null ">insert_time = #{insertTime} ,</if>
	        <if test="updateBy!=null ">update_by = #{updateBy} ,</if>
	        <if test="updateTime!=null ">update_time = now() </if>
	      </set>  
        WHERE id IN <foreach collection="list" item="id" open="(" close=")" separator=",">#{id}</foreach>       
	</update>
	
    <delete id="deleteFesStowageById">
    <![CDATA[
        DELETE FROM fes.fes_stowage WHERE
        id = #{id} 
    ]]>
    </delete>
    
    <delete id="batchDeleteFesStowageByIds" parameterType="list">
        DELETE FROM fes.fes_stowage WHERE id IN
        <foreach collection="list" item="id" open="(" close=")" separator=",">#{id}</foreach>   
    </delete>
    
    <select id="getFesStowageById" resultMap="FesStowage">
		SELECT <include refid="fesstowageColumns" />
		    FROM fes.fes_stowage 
	        WHERE id = #{id}     
	</select>

	<select id="getFesStowages" resultMap="FesStowage">
		SELECT <include refid="fesstowageColumns" />
		    FROM fes.fes_stowage  
	    <include refid="fesstowage_findPage_where" />
	    <if test="sortColumns!=null">
			ORDER BY ${sortColumns}
		</if>
	</select>
	
	<select id="getFesStowagesMap" resultType="map">
		SELECT <include refid="fesstowageColumns" />
	    <![CDATA[
		    FROM fes.fes_stowage  
	    ]]>
	    <include refid="fesstowage_findPage_where" />
	    <if test="sortColumns!=null">
			ORDER BY ${sortColumns}
		</if>
	</select>
	
	<!-- 查找前端负责人手机号 -->
	<select id="getSysUserMerchantTel" resultType="map">
		SELECT su.tel from fes.fes_stowage fs 
		  LEFT JOIN fes.fes_online_process  fop on fs.process_id = fop.id 
		  LEFT JOIN fes.fes_online_program  ffop on fop.program_id = ffop.id 
		  LEFT JOIN sys.sys_user_merchant ssum on ffop.merchant_id = ssum.merchant_id 
		  LEFT JOIN sys.sys_user su on su.id = ssum.user_id 
		  <where>	   
		    <if test="id!=null ">AND fs.id = #{id}</if>
		  </where>
	    <if test="sortColumns!=null">
			ORDER BY ${sortColumns}
		</if>
	</select>
	
	<sql id="fesstowage_findPage_where">
		<where>	      				
	       <if test="id!=null ">AND id = #{id}</if>
	       <if test="processId!=null ">AND process_id = #{processId}</if>
	       <if test="logisticsCompany!=null and logisticsCompany!=''">AND logistics_company = #{logisticsCompany}</if>
	       <if test="logisticsNum!=null and logisticsNum!=''">AND logistics_num = #{logisticsNum}</if>
	       <if test="contactId!=null ">AND contact_id = #{contactId}</if>
	       <if test="isEnable!=null and isEnable!=''">AND is_enable = #{isEnable}</if>
	       <if test="remark!=null and remark!=''">AND remark = #{remark}</if>
	       <if test="insertBy!=null ">AND insert_by = #{insertBy}</if>
		   <if test="insertTime!=null ">AND insert_time >= #{insertTime}</if>
		   <if test="insertTime!=null ">AND insert_time &lt;= #{insertTime}</if>
	       <if test="updateBy!=null ">AND update_by = #{updateBy}</if>
		   <if test="updateTime!=null ">AND update_time >= #{updateTime}</if>
		   <if test="updateTime!=null ">AND update_time &lt;= #{updateTime}</if>
		   <if test="recipient!=null ">AND recipient = #{recipient}</if>
		</where>
	</sql>
		
    <select id="getFesStowageCount" resultType="long">
        SELECT count(*) FROM fes.fes_stowage 
		<include refid="fesstowage_findPage_where"/>    
    </select>
    
</mapper>
