<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.yazuo.erp.system.dao.SysQuestionOptionDao">
	<resultMap id="SysQuestionOption" type="com.yazuo.erp.system.vo.SysQuestionOptionVO">
    	<id property="id" column="id"/>
    	<result property="questionId" column="question_id"/>
    	<result property="optionContent" column="option_content"/>
    	<result property="isOpenTextarea" column="is_open_textarea"/>
    	<result property="tip" column="tip"/>
    	<result property="remark" column="remark"/>
    	<result property="insertBy" column="insert_by"/>
    	<result property="insertTime" column="insert_time"/>
    	<result property="updateBy" column="update_by"/>
    	<result property="updateTime" column="update_time"/>
	</resultMap>
	
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="sysquestionoptionColumns">
	    <![CDATA[
	    '0' as isSelected,
		id,question_id,option_content,is_open_textarea,tip,remark,insert_by,insert_time,update_by,update_time
	    ]]>
	</sql>

	<insert id="saveSysQuestionOption" useGeneratedKeys="true" keyProperty="id" >
	 <!--不允许为空的字段： question_id,is_open_textarea,insert_by,insert_time,update_by,update_time,--> 
        INSERT INTO sys.sys_question_option (
        	 <if test="questionId!=null ">question_id,</if>
        	 <if test="optionContent!=null and optionContent!=''">option_content,</if>
        	 <if test="isOpenTextarea!=null and isOpenTextarea!=''">is_open_textarea,</if>
        	 <if test="tip!=null and tip!=''">tip,</if>
        	 <if test="remark!=null and remark!=''">remark,</if>
        	 <if test="insertBy!=null ">insert_by,</if>
        	 <if test="insertTime!=null ">insert_time,</if>
        	 <if test="updateBy!=null ">update_by,</if>
        	 <if test="updateTime!=null ">update_time</if>
        ) VALUES (
       	    <if test="questionId!=null ">#{questionId},</if>
       	    <if test="optionContent!=null and optionContent!=''">#{optionContent},</if>
       	    <if test="isOpenTextarea!=null and isOpenTextarea!=''">#{isOpenTextarea},</if>
       	    <if test="tip!=null and tip!=''">#{tip},</if>
       	    <if test="remark!=null and remark!=''">#{remark},</if>
       	    <if test="insertBy!=null ">#{insertBy},</if>
       	    <if test="insertTime!=null ">now(),</if>
       	    <if test="updateBy!=null ">#{updateBy},</if>
       	    <if test="updateTime!=null ">now()</if>
        )
	</insert>
	
	<insert id="batchInsertSysQuestionOptions" parameterType="map">
	 <!--不允许为空的字段： question_id,is_open_textarea,insert_by,insert_time,update_by,update_time,--> 
        INSERT INTO sys.sys_question_option (
        	 <if test="questionId!=null ">question_id,</if>
        	 <if test="optionContent!=null and optionContent!=''">option_content,</if>
        	 <if test="isOpenTextarea!=null and isOpenTextarea!=''">is_open_textarea,</if>
        	 <if test="tip!=null and tip!=''">tip,</if>
        	 <if test="remark!=null and remark!=''">remark,</if>
        	 <if test="insertBy!=null ">insert_by,</if>
        	 <if test="insertTime!=null ">insert_time,</if>
        	 <if test="updateBy!=null ">update_by,</if>
        	 <if test="updateTime!=null ">update_time</if>
        ) VALUES 
            <foreach collection="list" item="t" separator=",">
           (
          <if test="questionId!=null ">#{t.questionId},</if>
          <if test="optionContent!=null and optionContent!=''">#{t.optionContent},</if>
          <if test="isOpenTextarea!=null and isOpenTextarea!=''">#{t.isOpenTextarea},</if>
          <if test="tip!=null and tip!=''">#{t.tip},</if>
          <if test="remark!=null and remark!=''">#{t.remark},</if>
          <if test="insertBy!=null ">#{t.insertBy},</if>
          <if test="insertTime!=null ">now(),</if>
          <if test="updateBy!=null ">#{t.updateBy},</if>
          <if test="updateTime!=null ">now()</if>
         )
        </foreach>
	</insert>
	
	<update id="updateSysQuestionOption">
        UPDATE sys.sys_question_option 
 		  <set>
	        <if test="questionId!=null ">question_id = #{questionId} ,</if>
	        <if test="optionContent!=null and optionContent!=''">option_content = #{optionContent} ,</if>
	        <if test="isOpenTextarea!=null and isOpenTextarea!=''">is_open_textarea = #{isOpenTextarea} ,</if>
	        <if test="tip!=null and tip!=''">tip = #{tip} ,</if>
	        <if test="remark!=null and remark!=''">remark = #{remark} ,</if>
	        <if test="insertBy!=null ">insert_by = #{insertBy} ,</if>
	        <if test="insertTime!=null ">insert_time = #{insertTime} ,</if>
	        <if test="updateBy!=null ">update_by = #{updateBy} ,</if>
	        <if test="updateTime!=null ">update_time = now() </if>
	      </set>  
        WHERE 
	        id = #{id} 
	</update>
	
	<update id="batchUpdateSysQuestionOptionsToDiffVals" parameterType="map">
		<foreach  collection="list" item="t" index="index" open="" close="" separator=";">
        UPDATE sys.sys_question_option 
 		  <set>
	        <if test="questionId!=null ">question_id = #{t.questionId} ,</if>
	        <if test="optionContent!=null and optionContent!=''">option_content = #{t.optionContent} ,</if>
	        <if test="isOpenTextarea!=null and isOpenTextarea!=''">is_open_textarea = #{t.isOpenTextarea} ,</if>
	        <if test="tip!=null and tip!=''">tip = #{t.tip} ,</if>
	        <if test="remark!=null and remark!=''">remark = #{t.remark} ,</if>
	        <if test="insertBy!=null ">insert_by = #{t.insertBy} ,</if>
	        <if test="insertTime!=null ">insert_time = #{t.insertTime} ,</if>
	        <if test="updateBy!=null ">update_by = #{t.updateBy} ,</if>
	        <if test="updateTime!=null ">update_time = now() </if>
	      </set>  
        WHERE 
	        id = #{t.id} 
	    </foreach>       
	</update>
	
	<!-- 默认主键为id，不支持组合主键的情况 -->
	<update id="batchUpdateSysQuestionOptionsToSameVals" parameterType="map">
        UPDATE sys.sys_question_option 
 		  <set>
	        <if test="questionId!=null ">question_id = #{questionId} ,</if>
	        <if test="optionContent!=null and optionContent!=''">option_content = #{optionContent} ,</if>
	        <if test="isOpenTextarea!=null and isOpenTextarea!=''">is_open_textarea = #{isOpenTextarea} ,</if>
	        <if test="tip!=null and tip!=''">tip = #{tip} ,</if>
	        <if test="remark!=null and remark!=''">remark = #{remark} ,</if>
	        <if test="insertBy!=null ">insert_by = #{insertBy} ,</if>
	        <if test="insertTime!=null ">insert_time = #{insertTime} ,</if>
	        <if test="updateBy!=null ">update_by = #{updateBy} ,</if>
	        <if test="updateTime!=null ">update_time = now() </if>
	      </set>  
        WHERE id IN <foreach collection="list" item="id" open="(" close=")" separator=",">#{id}</foreach>       
	</update>
	
    <delete id="deleteSysQuestionOptionById">
    <![CDATA[
        DELETE FROM sys.sys_question_option WHERE
        id = #{id} 
    ]]>
    </delete>
    
    <delete id="batchDeleteSysQuestionOptionByIds" parameterType="list">
        DELETE FROM sys.sys_question_option WHERE id IN
        <foreach collection="list" item="id" open="(" close=")" separator=",">#{id}</foreach>   
    </delete>
    
    <select id="getSysQuestionOptionById" resultMap="SysQuestionOption">
		SELECT <include refid="sysquestionoptionColumns" />
		    FROM sys.sys_question_option 
	        WHERE id = #{id}     
	</select>

	<select id="getSysQuestionOptions" resultMap="SysQuestionOption">
		SELECT <include refid="sysquestionoptionColumns" />
		    FROM sys.sys_question_option  
	    <include refid="sysquestionoption_findPage_where" />
	    <if test="sortColumns!=null">
			ORDER BY ${sortColumns}
		</if>
	</select>
	
	<select id="getSysQuestionOptionsMap" resultType="map">
		SELECT <include refid="sysquestionoptionColumns" />
	    <![CDATA[
		    FROM sys.sys_question_option  
	    ]]>
	    <include refid="sysquestionoption_findPage_where" />
	    <if test="sortColumns!=null">
			ORDER BY ${sortColumns}
		</if>
	</select>
	
	<sql id="sysquestionoption_findPage_where">
		<where>	      				
	       <if test="id!=null ">AND id = #{id}</if>
	       <if test="questionId!=null ">AND question_id = #{questionId}</if>
	       <if test="optionContent!=null and optionContent!=''">AND option_content = #{optionContent}</if>
	       <if test="isOpenTextarea!=null and isOpenTextarea!=''">AND is_open_textarea = #{isOpenTextarea}</if>
	       <if test="tip!=null and tip!=''">AND tip = #{tip}</if>
	       <if test="remark!=null and remark!=''">AND remark = #{remark}</if>
	       <if test="insertBy!=null ">AND insert_by = #{insertBy}</if>
		   <if test="insertTime!=null ">AND insert_time >= #{insertTime}</if>
		   <if test="insertTime!=null ">AND insert_time &lt;= #{insertTime}</if>
	       <if test="updateBy!=null ">AND update_by = #{updateBy}</if>
		   <if test="updateTime!=null ">AND update_time >= #{updateTime}</if>
		   <if test="updateTime!=null ">AND update_time &lt;= #{updateTime}</if>
		</where>
	</sql>
		
    <select id="getSysQuestionOptionCount" resultType="long">
        SELECT count(*) FROM sys.sys_question_option 
		<include refid="sysquestionoption_findPage_where"/>    
    </select>
    
</mapper>
