<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yazuo.erp.trade.dao.TradeTransCodeDao">
    <resultMap id="TradeTransCode" type="com.yazuo.erp.trade.vo.TradeTransCodeVO">
        <id property="transCode" column="trans_code"/>
        <result property="transName" column="trans_name"/>
        <result property="accountType" column="account_type"/>
        <result property="description" column="description"/>
    </resultMap>
    <sql id="tradeTransCodeColumns">
        trans_code,trans_name,account_type,description
    </sql>
    <select id="getAllTransCodes" resultMap="TradeTransCode">
        SELECT <include refid="tradeTransCodeColumns"/>
        FROM trade.trade_trans_code
    </select>
</mapper>