<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 判断是插入哪个数据库 -->

<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.yazuo.erp.train.dao.TraFinalExamQuestionDao">

	<resultMap id="TraFinalExamQuestion" type="com.yazuo.erp.train.vo.TraFinalExamQuestionVO">
		<result property="id" column="id" />
		<result property="ruleId" column="rule_id" />
		<result property="questionId" column="question_id" />
		<result property="insertBy" column="insert_by" />
		<result property="insertTime" column="insert_time" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="trafinalexamquestionColumns">
	    <![CDATA[
		id,rule_id,question_id,insert_by,insert_time
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="saveTraFinalExamQuestion" useGeneratedKeys="true"
		keyProperty="id">
    <![CDATA[
        INSERT INTO train.tra_final_exam_question (
        		rule_id ,
        		question_id ,
        		insert_by ,
        		insert_time 
        ) VALUES (
        	#{ruleId} ,
        	#{questionId} ,
        	#{insertBy} ,
        	#{insertTime} 
        )
    ]]>
	</insert>

	<update id="updateTraFinalExamQuestion">
    <![CDATA[
        UPDATE train.tra_final_exam_question SET
	        rule_id = #{ruleId} ,
	        question_id = #{questionId} ,
	        insert_by = #{insertBy} ,
	        insert_time = #{insertTime} 
        WHERE 
	        id = #{id} 
    ]]>
	</update>

	<delete id="deleteTraFinalExamQuestion">
    <![CDATA[
        DELETE FROM train.tra_final_exam_question WHERE
        id = #{id} 
    ]]>
	</delete>

	<select id="getTraFinalExamQuestionById" resultMap="TraFinalExamQuestion">
		SELECT
		<include refid="trafinalexamquestionColumns" />
	    <![CDATA[
		    FROM train.tra_final_exam_question 
	        WHERE 
		        id = #{id} 
	    ]]>
	</select>

	<select id="getTraFinalExamQuestions" resultMap="TraFinalExamQuestion"
		parameterType="map">
		SELECT
		<include refid="trafinalexamquestionColumns" />
	    <![CDATA[
		    FROM train.tra_final_exam_question  
	    ]]>
		<include refid="trafinalexamquestion_findPage_where" />
		<if test="sortColumns!=null">
			ORDER BY ${sortColumns}
		</if>
	    <![CDATA[
		     limit #{pageSize} offset #{offset}; 
	    ]]>
	</select>

	<!-- 同上，唯一不同为返回值对于每一个元素是一个原生的map -->
	<select id="getTraFinalExamQuestionsMap" resultType="map"
		parameterType="map">
		SELECT
		<include refid="trafinalexamquestionColumns" />
	    <![CDATA[
		    FROM train.tra_final_exam_question  
	    ]]>
		<include refid="trafinalexamquestion_findPage_where" />
		<if test="sortColumns!=null">
			ORDER BY ${sortColumns}
		</if>
	    <![CDATA[
		     limit #{pageSize} offset #{offset}; 
	    ]]>
	</select>

	<select id="getAllTraFinalExamQuestions" resultType="map"
		parameterType="map">
		SELECT
		<include refid="trafinalexamquestionColumns" />
	    <![CDATA[
		    FROM train.tra_final_exam_question  
	    ]]>
		<include refid="trafinalexamquestion_findPage_where" />
		<if test="sortColumns!=null">
			ORDER BY ${sortColumns}
		</if>
	</select>

	<sql id="trafinalexamquestion_findPage_where">
		<where>
			<if test="id!=null">
				AND id = #{id}
			</if>
			<if test="ruleId!=null">
				AND rule_id = #{ruleId}
			</if>
			<if test="questionId!=null">
				AND question_id = #{questionId}
			</if>
			<if test="insertBy!=null">
				AND insert_by = #{insertBy}
			</if>
			<if test="insertTimeBegin!=null">
				AND insert_time >= #{insertTimeBegin}
			</if>
			<if test="insertTimeEnd!=null">
				AND insert_time &lt;= #{insertTimeEnd}
			</if>
		</where>
	</sql>

	<select id="getTraFinalExamQuestionCount" resultType="long">
		SELECT count(*) FROM train.tra_final_exam_question
		<include refid="trafinalexamquestion_findPage_where" />
	</select>

	<!-- 分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页 因为分页查询将传 offset,pageSize,lastRows 
		三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现 -->
	<select id="findTraFinalExamQuestionPage" resultMap="TraFinalExamQuestion">
		SELECT
		<include refid="trafinalexamquestionColumns" />
		FROM train.tra_final_exam_question
		<include refid="trafinalexamquestion_findPage_where" />
		<if test="sortColumns!=null">
			ORDER BY ${sortColumns}
		</if>
	</select>

	<insert id="batchSaveTraFinalExamQuestion" parameterType="list">
		INSERT INTO train.tra_final_exam_question (
		rule_id ,
		question_id ,
		insert_by ,
		insert_time
		) VALUES
		<foreach collection="list" item="t" index="index" open=""
			close="" separator=",">
			(#{t.ruleId},#{t.questionId},#{t.insertBy},now())
		</foreach>
	</insert>

	<select id="getTraFinalExamQuestionByRuleId" resultType="map"
		parameterType="map">
		SELECT eq.rule_id, eq.question_id, q.question,
		q.question_type
		FROM train.tra_final_exam_question as
		eq,train.tra_final_exam_rule as rule
		,train.tra_question as q,
		train.tra_courseware tc
		WHERE eq.rule_id = rule.id AND eq.question_id =
		q.id
		AND tc.id =
		q.courseware_id
		AND tc.is_enable='1'
		AND q.is_enable =
		'1' AND eq.rule_id = #{ruleId} ORDER BY eq.id
	</select>

	<delete id="deleteTraFinalExamQuestionByRuleId">
    <![CDATA[
        DELETE FROM train.tra_final_exam_question WHERE
        rule_id = #{ruleId} 
    ]]>
	</delete>

	<!-- 根据课程ID列表批量删除 tra_final_exam_question 期末考卷必考题 -->
	<delete id="batchDeleteTraFinalExamQuestionByCourseIds">
		<foreach collection="list" item="t" index="index" open=""
			close="" separator=";">
			delete from train.tra_final_exam_question q
			where
			q.rule_id in (
			select id from train.tra_final_exam_rule r
			where
			r.course_id =#{t,jdbcType=INTEGER}
			)
		</foreach>
	</delete>

	<!-- 根据课件ID批量删除 tra_final_exam_question 期末考卷必考题 -->
	<delete id="batchDeleteTraFinalExamQuestionByCoursewareId">
		<foreach collection="list" item="t" index="index" open=""
			close="" separator=";">
			delete from train.tra_final_exam_question f
			where
			f.question_id in (
			select q.id from train.tra_question q
			where
			q.courseware_id=#{t,jdbcType=INTEGER}
			)
		</foreach>
	</delete>

	<delete id="deleteTraFinalExamQuestionByCoursewareIdAndCourseId">
		DELETE
		FROM
		train.tra_final_exam_question f
		WHERE
		f.question_id IN(
		SELECT
		q. ID
		FROM
		train.tra_question q
		WHERE
		q.courseware_id IN
		<foreach collection="list" item="t" index="index" open="("
			close=")" separator=",">
			#{t,jdbcType=INTEGER}
		</foreach>
		)
		AND f.rule_id =(
		SELECT
		r. ID
		FROM
		train.tra_final_exam_rule r
		WHERE
		1 = 1
		AND r.course_id = #{courseId}
		)
	</delete>

	<delete id="deleteTraFinalExamQuestionByCourseIdAndQuestionId">
		DELETE
		FROM
		train.tra_final_exam_question feq
		WHERE
		feq.question_id =
		#{questionId}
		AND feq.rule_id =(
		SELECT
		r.id
		FROM
		train.tra_final_exam_rule r
		WHERE
		r.course_id IN
		<foreach collection="list" item="t" index="index" open="("
			close=")" separator=",">
			#{t,jdbcType=INTEGER}
		</foreach>
		)
	</delete>
	
	<!-- 根据试题ID列表批量删除 tra_final_exam_question 期末考卷必考题 -->
	<delete id="batchDeleteTraFinalExamQuestionByQuestionId" parameterType="list">
		delete from train.tra_final_exam_question f
		where f.question_id in
		<foreach collection="list" item="t" index="index" open="(" close=")" separator=",">
			#{t,jdbcType=INTEGER}
		</foreach>
	</delete>	
</mapper>

