<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.yazuo.erp.req.dao.ReqProjectDao">
	<resultMap id="ReqProject" type="com.yazuo.erp.req.vo.ReqProjectVO">
    	<id property="id" column="id"/>
    	<result property="name" column="name"/>
    	<result property="description" column="description"/>
    	<result property="isEnable" column="is_enable"/>
    	<result property="remark" column="remark"/>
    	<result property="insertBy" column="insert_by"/>
    	<result property="insertTime" column="insert_time"/>
    	<result property="updateBy" column="update_by"/>
    	<result property="updateTime" column="update_time"/>
	</resultMap>
	
	<resultMap id="ComplexReqProject" type="com.yazuo.erp.req.vo.ReqProjectVO">
    	<id property="id" column="id"/>
    	<result property="name" column="name"/>
    	<result property="description" column="description"/>
    	<result property="isEnable" column="is_enable"/>
    	<result property="remark" column="remark"/>
    	<result property="insertBy" column="insert_by"/>
    	<result property="insertTime" column="insert_time"/>
    	<result property="updateBy" column="update_by"/>
    	<result property="updateTime" column="update_time"/>
    	<association  property="sysUser" javaType="com.yazuo.erp.system.vo.SysUserVO">
        	<id property="id" column="id"/>
        	<result property="userName" column="user_name"/>
        	<result property="tel" column="tel"/>
		</association>
     	<collection  property="reqProjectRequirements" column="fk_id" ofType="com.yazuo.erp.req.vo.ReqProjectRequirementVO">
	       	<id property="projectId" column="project_id"/>
	       	<id property="requirementId" column="requirement_id"/>
	       	<result property="insertBy" column="insert_by"/>
	       	<result property="insertTime" column="insert_time"/>
		</collection>
	</resultMap>
			
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="reqprojectColumns">
	    <![CDATA[
		id,name,description,is_enable,remark,insert_by,insert_time,update_by,update_time
	    ]]>
	</sql>

	<insert id="saveReqProject" useGeneratedKeys="true" keyProperty="id" >
	 <!--不允许为空的字段： name,is_enable,insert_by,insert_time,update_by,update_time,--> 
        INSERT INTO req.req_project (
        	 <if test="name!=null">name,</if>
        	 <if test="description!=null">description,</if>
        	 <if test="isEnable!=null">is_enable,</if>
        	 <if test="remark!=null">remark,</if>
        	 <if test="insertBy!=null">insert_by,</if>
        	 <if test="insertTime!=null">insert_time,</if>
        	 <if test="updateBy!=null">update_by,</if>
        	 <if test="updateTime!=null">update_time</if>
        ) VALUES (
       	    <if test="name!=null">#{name},</if>
       	    <if test="description!=null">#{description},</if>
       	    <if test="isEnable!=null">#{isEnable},</if>
       	    <if test="remark!=null">#{remark},</if>
       	    <if test="insertBy!=null">#{insertBy},</if>
       	    <if test="insertTime!=null">now(),</if>
       	    <if test="updateBy!=null">#{updateBy},</if>
       	    <if test="updateTime!=null">now()</if>
        )
	</insert>
	
	<insert id="batchInsertReqProjects" parameterType="map">
	 <!--不允许为空的字段： name,is_enable,insert_by,insert_time,update_by,update_time,--> 
        INSERT INTO req.req_project (
        	 <if test="name!=null">name,</if>
        	 <if test="description!=null">description,</if>
        	 <if test="isEnable!=null">is_enable,</if>
        	 <if test="remark!=null">remark,</if>
        	 <if test="insertBy!=null">insert_by,</if>
        	 <if test="insertTime!=null">insert_time,</if>
        	 <if test="updateBy!=null">update_by,</if>
        	 <if test="updateTime!=null">update_time</if>
        ) VALUES 
            <foreach collection="list" item="t" separator=",">
           (
          <if test="name!=null">#{t.name},</if>
          <if test="description!=null">#{t.description},</if>
          <if test="isEnable!=null">#{t.isEnable},</if>
          <if test="remark!=null">#{t.remark},</if>
          <if test="insertBy!=null">#{t.insertBy},</if>
          <if test="insertTime!=null">now(),</if>
          <if test="updateBy!=null">#{t.updateBy},</if>
          <if test="updateTime!=null">now()</if>
         )
        </foreach>
	</insert>
	
	<update id="updateReqProject">
        UPDATE req.req_project 
 		  <set>
	        <if test="name!=null">name = #{name} ,</if>
	        <if test="description!=null">description = #{description} ,</if>
	        <if test="isEnable!=null">is_enable = #{isEnable} ,</if>
	        <if test="remark!=null">remark = #{remark} ,</if>
	        <if test="insertBy!=null">insert_by = #{insertBy} ,</if>
	        <if test="insertTime!=null">insert_time = #{insertTime} ,</if>
	        <if test="updateBy!=null">update_by = #{updateBy} ,</if>
	        <if test="updateTime!=null">update_time = #{updateTime} </if>
	      </set>  
        WHERE 
	        id = #{id} 
	</update>
	
	<update id="batchUpdateReqProjectsToDiffVals" parameterType="map">
		<foreach  collection="list" item="t" index="index" open="" close="" separator=";">
        UPDATE req.req_project 
 		  <set>
	        <if test="name!=null">name = #{t.name} ,</if>
	        <if test="description!=null">description = #{t.description} ,</if>
	        <if test="isEnable!=null">is_enable = #{t.isEnable} ,</if>
	        <if test="remark!=null">remark = #{t.remark} ,</if>
	        <if test="insertBy!=null">insert_by = #{t.insertBy} ,</if>
	        <if test="insertTime!=null">insert_time = #{t.insertTime} ,</if>
	        <if test="updateBy!=null">update_by = #{t.updateBy} ,</if>
	        <if test="updateTime!=null">update_time = #{t.updateTime} </if>
	      </set>  
        WHERE 
	        id = #{t.id} 
	    </foreach>       
	</update>
	
	<!-- 默认主键为id，不支持组合主键的情况 -->
	<update id="batchUpdateReqProjectsToSameVals" parameterType="map">
        UPDATE req.req_project 
 		  <set>
	        <if test="name!=null">name = #{name} ,</if>
	        <if test="description!=null">description = #{description} ,</if>
	        <if test="isEnable!=null">is_enable = #{isEnable} ,</if>
	        <if test="remark!=null">remark = #{remark} ,</if>
	        <if test="insertBy!=null">insert_by = #{insertBy} ,</if>
	        <if test="insertTime!=null">insert_time = #{insertTime} ,</if>
	        <if test="updateBy!=null">update_by = #{updateBy} ,</if>
	        <if test="updateTime!=null">update_time = #{updateTime} </if>
	      </set>  
        WHERE id IN <foreach collection="list" item="id" open="(" close=")" separator=",">#{id}</foreach>       
	</update>
	
    <delete id="deleteReqProjectById">
    <![CDATA[
        DELETE FROM req.req_project WHERE
        id = #{id} 
    ]]>
    </delete>
    
    <delete id="batchDeleteReqProjectByIds" parameterType="list">
        DELETE FROM req.req_project WHERE id IN
        <foreach collection="list" item="id" open="(" close=")" separator=",">#{id}</foreach>   
    </delete>
    
    <select id="getReqProjectById" resultMap="ReqProject">
		SELECT <include refid="reqprojectColumns" />
		    FROM req.req_project 
	        WHERE id = #{id}     
	</select>

	<select id="getReqProjects" resultMap="ReqProject">
		SELECT <include refid="reqprojectColumns" />
		    FROM req.req_project  
	    <include refid="reqproject_findPage_where" />
	    <if test="sortColumns!=null">
			ORDER BY ${sortColumns}
		</if>
	</select>
	
	<select id="getReqProjectsMap" resultType="map">
		SELECT <include refid="reqprojectColumns" />
	    <![CDATA[
		    FROM req.req_project  
	    ]]>
	    <include refid="reqproject_findPage_where" />
	    <if test="sortColumns!=null">
			ORDER BY ${sortColumns}
		</if>
	</select>
	
	<sql id="reqproject_findPage_where">
		<where>	      				
	       <if test="id!=null">AND id = #{id}</if>
	       <if test="name!=null">AND name = #{name}</if>
	       <if test="description!=null">AND description = #{description}</if>
	       <if test="isEnable!=null">AND is_enable = #{isEnable}</if>
	       <if test="remark!=null">AND remark = #{remark}</if>
	       <if test="insertBy!=null">AND insert_by = #{insertBy}</if>
		   <if test="insertTime!=null">AND insert_time >= #{insertTime}</if>
		   <if test="insertTime!=null">AND insert_time &lt;= #{insertTime}</if>
	       <if test="updateBy!=null">AND update_by = #{updateBy}</if>
		   <if test="updateTime!=null">AND update_time >= #{updateTime}</if>
		   <if test="updateTime!=null">AND update_time &lt;= #{updateTime}</if>
		</where>
	</sql>
		
    <select id="getReqProjectCount" resultType="long">
        SELECT count(*) FROM req.req_project 
		<include refid="reqproject_findPage_where"/>    
    </select>
    
</mapper>
